---
const { slug, title, tags, description, date, cover } = Astro.props;
console.log('BIPBIPBIP');
console.log(cover);
console.log(title);
---

<li class="post">
	<div>
	<a href={`/post/${slug}/`} class="title">
		<div class="top">
			{ cover && <img class="cover" src={`${cover}`}/>}
		</div>
		<div class="bottom">
			<time datetime={date}>
				{
					new Date(date).toLocaleDateString("fr-fr", {
						year: "numeric",
						month: "numeric",
						day: "numeric",
					})
				}
			</time>
			<br />
			{title}

			<br />
			{description && <span class="excerpt">{description}</span>}
		</div>
	</a>
	<div class="bottom">
		{
			tags &&
				tags.map((tag) => (
					<a class="tag" href={`/tag/${tag}`}>
						#{tag}
					</a>
				))
		}
	</div>
	</div>
</li>

<style>
	li {
		display: flex;
		flex-direction: column;
		min-width: 15%;
		background: var(--lomr-gradient);
		border-radius: 50px;
	}

	li div {
		display: flex;
		flex-direction: column;
	}

	a {
		text-decoration: none;
	}

	.title {		
		font-size: 1.5rem;
		font-weight: bold;
		display: block;
	}

	time {
		font-size: 1rem;
	}

	.excerpt {
		font-size: 1rem;
	}

	.tag {
		font-size: 1rem;
	}

	.top {
		display: block;
		min-width: 1px;
		height: 8vh;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		background-color: var(--white);
		flex: 0 0 auto;
		overflow: hidden;
	}

	.top img {
		width: 100%;
		height: 100%;		
		border-top-left-radius: 49px;
		border-top-right-radius: 49px;
		object-fit: cover;
		object-position: top;
	}

	.bottom {
		padding: 0.5vw 2vw 5px 2vw;
		flex-grow: 1;
	}

	@media (max-width: 768px) {
		li {
			min-width: 60%;
		}

		.bottom {
			padding: 0.5vw 5vw 5px 5vw;
		}
	}
</style>
