---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Post from "../../components/Post.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";

// Credit to @rachsmithcodes for helping out my lil ol brain
export async function getStaticPaths() {
	let posts = await getCollection("posts");
	const tags = posts.reduce((allTags, post) => {
		const postTags = post.data.tags;
		if (postTags) {
			postTags.forEach((tag) => {
				if (!allTags[tag]) {
					allTags[tag] = [];
				}
				allTags[tag].push(post);
			});
		}
		return allTags;
	}, {});

	return Object.keys(tags).map((t) => {
		return {
			params: { tag: t },
			props: { tag: tags[t] },
		};
	});
}

const { tag } = Astro.props;
const { tag: currentTag } = Astro.params;

let sortedPosts = tag.sort(
	(a, b) => new Date(b.data.added).valueOf() - new Date(a.data.added).valueOf()
);
---

<!DOCTYPE html>
<html lang="fr-fr">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<Header />
		<main>
			<content>
				<h3>Posts avec le tag "{currentTag}"</h3>
				<ul class="tags-list">
					{
						sortedPosts.map(
							({
								url,
								data: { description, slug, title, tags, added: date, cover },
							}) => <Post {description} {date} {slug} {title} {tags} {cover}/>
						)
					}
				</ul>
			</content>
		</main>		
		<Footer />
	</body>
</html>

<style>
	content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-content: center;		
		justify-content: flex-start;
		margin: 0;
	}

	ul.tags-list {
		display: grid;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type:none;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 1fr;
		grid-column-gap: 2vw;
 		grid-row-gap: 2vw;
	}
	
</style>